/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/cache
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/framework/cache
storage/framework/cache/data
storage/framework/cache/data/*
storage/framework/cache/data/44/d1/44d142505dd1a3b497197e2f459d2aec779e9ed6
/storage
/storage/*
